html {
  box-sizing: border-box;
  color: #2f2d13;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 h2{
  font-family: 'Noto Sans', sans-serif;
}

body{
  margin: 0px;
}
