html {
  box-sizing: border-box;
  color: #2f2d13;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 h2 {
  font-family: 'Noto Sans', sans-serif;
}

header {

  background-color: #e7001d;
}

.me{
  margin: 0 auto;
  padding: 1em 1em 0.5em 1em;
  width: 10em;

}


h1 {
  color: #ffffff;
  position: absolute;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
  top: 1em;
  left: 0em;
  width: 100%;


}

.chinese{
  font-size: 4em;
  display: block;

}

nav {
  background-color: #222222;
  padding: 1em;
  color: white;

}

nav a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;

}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.dr {
  float: left;
  width: 50%;
}

.ro {
  float: left;
  width: 50%;
}

.banner {
  width: 100%;
}

.figure1 {
  margin: 0;
  padding: 0em;
  position: relative;
}

.shengxiao {
  position: absolute;
  bottom: 0.6em;
  font-style: italic;
  font-size: 1.8em;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

p {
  margin: 0;
  padding: 1em;
}

h2 {
  margin: 0;
  text-align: center;
  padding-top: 10px;
}


.d {
  padding: 0em 1em 1em 1em;
  background-color: #e4c22a
}

.yellow {
  margin: 0;
}

.ds {
  width: 50%;
}

.dragon {
  width: 50%;
  float: right;

}

.m {
  font-style: italic;
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
}

.go{
  background: #222222;
  padding: 0em 1em 1em 1em;

}

.black {
  margin: 0;
}

.gs {
  width: 50%;
}

.goat {
    width:50%;
    float: left;
}

.goa{
  color: #fff;
}

.g {
  color: #fff;
  font-style: italic;
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
}

.roo{
  background-color: #bc0017;

}

.red {
  margin: 0;
}

.rs {
  width: 50%;
}

.roos{
  color: #fff;
}

.rooster {
  width: 50%;
  float: right;
}

.yox{
  background-color: #e4c22a;
  padding: 0em 1em 1em 1em;
}


.deep{
  color: #fff;
  text-align: center;
  padding: 10px;
  font-style: italic;
  font-size: 0.8em;
}

.oxs{
  width: 50%;
}

.os{
  width: 50%;
  float: left;
}

.per{
  text-align: center;
  padding: 10px;
  font-style: italic;
  font-size: 0.8em;
}



footer {
  background-color: #222222;
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
  padding: 1em;
  font-size: 1em;
}
